{% assign current_variant = product.selected_or_first_available_variant %}
<span class="product-card__price">
  {% if current_variant.compare_at_price > current_variant.price %}
    <span class="price price--sale">{{ current_variant.price | money }}</span>
    <s class="price price--compare">{{ current_variant.compare_at_price | money }}</s>
  {% else %}
    <span class="price">{{ current_variant.price | money }}</span>
  {% endif %}
</span>